:root {
  --clr-grey-1: hsl(155, 100%, 96%);
  --clr-grey-2: hsl(209, 61%, 16%);
  --clr-btn-background: hsl(141, 39%, 56%);
  --clr-btn-font: hsl(190, 24%, 28%);
  --clr-btn-background-hover: hsl(162, 57%, 34%);
  --clr-btn-font-hover: hsl(71, 61%, 85%);
  --clr-box-shadow: hsla(353, 5%, 33%, 0.4);
  --clr-box-shadow-hover: hsla(191, 22%, 42%, 0.4);
  --spacing: 0.1rem;
  
}


*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-1);
  color: var(--clr-grey-2);
  width: 100vw;
  height: 100vh;
  line-height: 1.5;
  font-size: 0.875rem;
}

.main-container {
  width: auto;
  height: 45%;
  text-align: center;
  padding: 10% 0;
}
.main-container h1 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.main-container p {
  font-size: 1.15rem;
}

#show{
  width: 80%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 2.5rem;
}

#show button{
  
  height: 100%;
  width: 70%;
  margin: auto;
  padding: 15px 32px;
  border-radius: 0.5rem;
  background-color: var(--clr-btn-background);
  color: var(--clr-btn-font);
  font-size: 16px;
  text-transform: uppercase;
  border-style: none;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px var(--clr-box-shadow);
}
#show button:hover{
  background-color: var(--clr-btn-background-hover);
  color: var(--clr-btn-font-hover);
  box-shadow: 0px 8px 15px var(--clr-box-shadow-hover);
  transform: translateY(-7px);
}